.screen-projects{
    padding: 40px 0;
    background: #fafafa;

    h3{
        font-size: 48px;
        color: black;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        padding-bottom: 10px; 
    }
    .palcka{
        width: 250px;
        height: 2px;
        border-radius: 1px;
        background-color: #f15623;
        margin: 10px auto;
        margin-bottom: 40px;
    }
}

@media (max-width: 767px){
    .screen-projects h3{
        font-size: 36px;
    }
}

